{% set pagetitle = 'GovRoam passcode reset'|trans %}
{% extends "base.twig" %}

{% block content %}
    <h2>{% trans %}Your new passcode{% endtrans %}</h2>

    <br />
    <br />
    <br />

    <table id="table_with_attributes" class="attributes pure-table pure-table-striped pure-table-attributes" style="width:25%; text-align:center; margin-left: auto; margin-right: auto;">
      <tr class="Passcode">
        <td class="attrvalue" style="font-weight:bold; font-size:xx-large;">{{ passcode }}</td>
      </tr>
    </table>
    <br/>

    <br />
    <br />
    <br />

    <div class="center">
      <a class="pure-button pure-button-red" href="{{ overviewurl }}">{{ 'Back to main page'|trans }}</a>
      &nbsp;&nbsp;
      <a class="pure-button pure-button-red" href="{{ logouturl }}">{{ 'Logout'|trans }}</a>
    </div>
{% endblock %}
